<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gethsemane Cafe | Coffee Ordering</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />  

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='javascript/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 

    <!-- Custom fonts Icons --> 
    <link href="{{url_for('static',filename='javascript/assets/vendor/fontawesome/css/all.min.css')}}" rel="stylesheet">   

    <!-- Custom styles -->  
    <link href="{{url_for('static',filename='javascript/assets/css/style.css')}}" rel="stylesheet">
    
    <style>
        button{
            background: linear-gradient(to left, #6d5c46, #a99073, #6d5c46);
            border: 3px solid #e0c5a3; 
            color: #3b2300;
            font-weight: 900;
        }
    </style>
</head>


{% block content %}
    {% if order_total > 0 %}
        <body class="bg-theme">
            <div id="main_app">
                <!-- Header -->
                <nav class="navbar navbar-expand-lg navbar-light mt-2" id="mainNav"> 
                    <h3 class="mx-auto display-block">Gethsemane Cafe</h3>
                    <hr class="gold-hr-color" />
                    <!-- Table name -->
                    
                    {% set order_table = order_tr[1] %}
                    {% set order_details = order_tr[2] %}
                    {% set order_priority = order_tr[3]%}
                    {% set order_id = order_tr[0] %}
                    <h4 class="mx-auto display-block my-2 text-center">Table <span style="font-size:44px;">{{ order_table }}</span>
                        <br> PRIORITY <span style="font-size:44px">{{order_priority}}</span></h4>
                    <hr class="gold-hr-color" />
                </nav> 
                <br>
                <button onclick="delFunc()" type="button" style="margin-left:18px" 
                class="btn btn-light">Delete this order</button>
                <!-- <style></style> -->

                <div class="container-fluid my-3">
                    <div class="row">
                        {% for x in order_details.split(",") %}
                            {% set value = x.split("x")[0] | int %}
                            {% set img = order_img[x] %}
                            {% set img = 'upload_photo/'+img +".jpg" %}
                            

                            <!-- Edit Starts Here -->
                            <div class="col-md-6 col-sm-12 d-flex" style="width:200px;">
                                <div class="g-cafe-card display-block p-3">
                                    <div class="g-cafe-menu-img my-2">
                                        <!-- Image -->
                                        <img src="{{ url_for('static',filename=img) }}" style="height:100px" alt="">
                                    </div>

                                    <div class="g-cafe-card-content w-100 my-3">
                                        <div class="g-cafe-info">
                                            <!-- Name -->
                                            <h5 class="font-secondary-color text-center">{{ 'x '.join(x.split("x")) }}</h5>
                                            <!-- Price -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {%endfor%}
                        <div class="col-12 my-5">
                            <button type="submit" onclick="submitFunc()" class="btn btn-lg btn-cafe-theme w-100">Order Done</button>
                        </div>
                    </div>
                </div>     
            </div>

    {% else %}
        <h1 id="text">Hi {{name}}, just relax first while waiting for order = {{ order_total }}</h1>
        <button id="refreshBut" onclick="refreshGo()" style="display:none;">Refresh to recieve order</button>
        <input type="hidden" value="no order" id="no_order">
    {% endif %}
    <form action="{{ url_for('barista_finish_order') }}"  method="POST" id="theForm">
        <input type="hidden" value="{{ order_table }}" id="order_table" name="order_table">
        <input type="hidden" value="{{ order_id }}" id="order_id" name="order_id">
        <input type="hidden" value="{{ order_total }}" id="order_total">
        <input type="hidden" value="no delete" id="order_delete" name="order_delete">
    </form>
    

    {% block javascript %}
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery3.6.0.js') }}"></script>

        <script>
            var run_swal = 0
            function refreshGo(){
                location.reload()
            }
            
            function submitFunc(){
                order_table = document.getElementById("order_table").value
                
                a = swal({
                    title: "Have you finished the order?",
                    text: "This is for the table "+order_table+" and please make sure the waiter already delivered the coffee before you press OK.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete){
                            document.getElementById('theForm').submit();                         
                        }
                    });
            }
            
            function delFunc(){
                order_table = document.getElementById("order_table").value
                a = swal({
                    title: "Are you sure to delete this order?",
                    text: "This is for the table "+order_table+" and please recheck twice before deleting.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete){
                            document.getElementById("order_delete").value = 'delete'
                            document.getElementById('theForm').submit();                         
                        }
                    });
            }
            
            var order_total_val = parseInt(document.getElementById("order_total").value)
            var updateInterval = setInterval(function() {
                try{
                    var no_order = document.getElementById("no_order").value
                }
                catch(err){
                    console.log(err)
                    clearInterval(updateInterval)
                    run_swal = 1
                }
                
                $.ajax({
                type: 'GET',
                url: '/check_barista_order',
                success: function(response) {
                    val_response = parseInt(response)
                    
                    if (val_response > 0){
                        console.log(val_response)
                        order_total_val = val_response
                        if (run_swal == 0){
                            a = swal({
                            title: "New order has been recieved",
                            text: "Press OK to recieve this order!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                            })
                            .then((willDelete) => {
                                if (willDelete){
                                    location.reload() 
                                                    
                                }else{
                                    var output = document.getElementById("text").innerHTML.split("=")[0];
                                    document.getElementById("text").innerHTML = String(output) +'= ' + String(order_total_val)
                                    document.getElementById("refreshBut").style.display = "block";
                                    order_total_val = 0
                                    run_swal = 1
                                }
                            });
                        }else{
                            var output = document.getElementById("text").innerHTML.split("=")[0];
                            document.getElementById("text").innerHTML = String(output) +'= ' + String(order_total_val)
                        }
                        
                    }
                },
                error: function() {
                    console.log('Error, call the admin for this!');
                }
                });
                // }
                
                },5000);
            
        </script>

    {% endblock %}

{%endblock%}
</body>
</html>