<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/html5-qrcode.min.js') }}"></script>

<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        
        <h3 style="color:red">{{ messages[0] }}</h3> 
        
    {% endif %}
{% endwith %}
<div class="row">
  <div class="col">
    <div style="width:300px;height:300px" id="reader"></div>
  </div>
  <div class="col" style="padding:30px;">
    
  </div>
</div>

      
  <form action="{{ url_for('coffee_getter') }}" method="POST" id="theForm">
    <input type="hidden" value="2" id="table" name="table">
  </form>

  {% block javascript %}
  <script type="text/javascript">
      var run_submit = 0
      function onScanSuccess(qrCodeMessage) {
        var output = qrCodeMessage.split(/[/ ]+/).pop();
        console.log(qrCodeMessage)
        document.getElementById("table").value = parseInt(output)
        if (run_submit == 0){
          document.getElementById("theForm").submit();
        }
        run_submit+=1
      }
      function onScanError(errorMessage) {
        document.getElementById('result').innerHTML = '<span class="result">'+errorMessage+'</span>';
      }
      var html5QrcodeScanner = new Html5QrcodeScanner(
          "reader", { fps: 10, qrbox: 250 });
      html5QrcodeScanner.render(onScanSuccess, onScanError);
  </script>
  {%endblock%}
  {% endblock %}
</head>
</html>