<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gethsemane Cafe | Coffee Ordering</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />  

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='javascript/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 

    <!-- Custom fonts Icons --> 
    <link href="{{url_for('static',filename='javascript/assets/vendor/fontawesome/css/all.min.css')}}" rel="stylesheet">   

    <!-- Custom styles -->  
    <link href="{{url_for('static',filename='javascript/assets/css/style.css')}}" rel="stylesheet" id="content">
    <link rel="stylesheet" href="{{url_for('static',filename='javascript/styles.css')}}" id="load">

</head>
    <style type="text/css">
        .swal-overlay{background-color: rgb(0 0 0 / 70%);}
        .swal-overlay--show-modal .swal-modal{background: -webkit-linear-gradient(45deg, #272526 10%, #373432 90%);background: linear-gradient(45deg, #272526 10%, #373532 90%);position:relative;color:#fff;border-radius:5px;border: 1px solid #c7a780;box-shadow: 0 0px 10px rgb(199 167 128);}
        .swal-button {background: linear-gradient(to left, #6d5c46, #a99073, #6d5c46);border: 2px solid #e0c5a3;}
        .swal-button:focus{box-shadow: none;}
        .swal-footer {text-align: center;}
        .g-modal{position: relative;}
        .g-modal h5:first-child{font-family: 'PlayfairDisplay-Bold', sans-serif;font-size: 1.5rem;color: #c7a780;}
        .g-modal h5.des-text{font-size: 1rem;font-weight: normal;} 
    </style>
{% block content %}


<body class="bg-theme" >
    <div id="preloader">
        <div>
            
            <div class="p" style="font-size:24px;width: 100%;text-align:center">
                <img src="{{url_for('static',filename='upload_photo/loading2.gif')}}" width="100%" height="100%">
                <br><br>
                PJ Coffee Loading
            </div>
        </div>
        

    </div>
    <div id="main_app" style="display:none;">
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light mt-2" id="mainNav"> 
            <h3 class="mx-auto display-block">Gethsemane Cafe</h3>
            <hr class="gold-hr-color" />
            <!-- Table name -->
            
            {% if priority == 1 %}
                <h4 class="mx-auto display-block my-2">Table {{ table_order }} - PRIORITY FOR ELDER</h4>
            {%else%}
                <h4 class="mx-auto display-block my-2">Table {{ table_order }}</h4>
            {%endif%}
        </nav> 

        <style>
            
        </style>
        <div class="container-fluid my-3">
            <div class="row">
                {% for x,y in menu_dict.items() %}
                    {% set min_btn = x + "_btn_m" %}
                    {% set plus_btn = x + "_btn" %}
                    {% set desc_id = x + "_desc_" %}
                    {% set desc_id2 = x + "_desc" %}

                    <!-- Edit Starts Here -->

                    <input type="hidden" id="{{desc_id}}" value="{{y['desc']}}">
                    <div class="col-md-6 col-sm-12 d-flex">
                        <div class="g-cafe-card display-block p-3">
                            <div class="g-cafe-menu-img my-2" onclick="descFunc(this)" id="{{desc_id2}}">
                                <!-- Image -->
                                <img src="{{y['image']}}" alt="">
                            </div>
                            <div class="g-cafe-card-content w-100 my-3">
                                <div class="g-cafe-info">
                                    <!-- Name -->
                                    <h5 class="font-secondary-color text-center">
                                        <a >{{x}}</a>
                                    </h5>
                                    <!-- Price -->
                                    <p class="mb-0 text-center"><i class="fa-solid fa-mug-hot"></i>&nbsp;&nbsp;RM{{y['price']}}</p>
                                    <hr class="my-3" />
                                    <div class="num-cup-wrap mt-3">
                                        <!-- Minus Button -->
                                        <div class="count-minus"><i class="fa-solid fa-circle-minus"
                                            id="{{min_btn}}" onclick="minusCounter(this.id)" style="visibility: hidden;"></i></div>

                                        <input type="text" placeholder="0" class="form-control text-center mx-2"
                                                id="{{x}}" onkeydown="if(event.key==='.'){event.preventDefault();}"  
                                                oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');changeVal(this.id);">
                                        <!-- Plys Button -->
                                        <div class="count-add"><i class="fa-solid fa-circle-plus"
                                             id="{{plus_btn}}" onclick="addCounter(this.id)"></i></div>
                                    </div>
                                </div>
                            </div>

                            

                            {% if y['is_active'] == False %}
                                <div class="unavailable-wrap d-flex justify-content-center align-items-center"> 
                                    <h3>Not Available</h3> 
                                </div>
                            {%endif%}

                        </div>
                    </div>

            
                {%endfor%}

                <!-- Edit Ends Here -->
                <div class="col-12 my-5">
                    <button type="submit" onclick="submitFunc()" class="btn btn-lg btn-cafe-theme w-100">Submit</button>
                </div>
            </div>
        </div>     
    </div>
</body>
    <form action="{{ url_for('recieve_coffee_order') }}"  method="POST" id="theForm">
        <input type="hidden" id="all_input" name="all_input" value="{{ ','.join(list(menu_dict.keys())) }}">
        <input type="hidden" id="table_order" name="table_order" value="{{ table_order }}">
        <input type="hidden" id="priority" name="priority" value="{{ priority }}">
    </form>

    {% block javascript %}
            
            <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery3.6.0.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='javascript/sweetalert.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='javascript/pace.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
            <script>
                paceOptions = {
                    ajax: false,
                    document: true,
                    eventLag: false
                };
                function delay(delayInms) {
                    return new Promise(resolve => {
                        setTimeout(() => {
                        resolve(2);
                        }, delayInms);
                    });
                    }
                
                window.addEventListener("load",async function(){
                    var startTime = performance.now()
                    var a = Pace.on('start', function() {
                            $('.p').delay(3000).animate({top: '30%', opacity: '0'}, 3000, $.bez([0.19,1,0.22,1]));

                            $('#preloader').delay(3000).animate({top: '-100%'}, 2000, $.bez([0.19,1,0.22,1]));

                        });
                    var endTime = performance.now()

                    var diff = endTime-startTime
                    if(diff < 1){
                        await delay(1500);
                    }else{
                        await delay(1000);
                    }

                    if(a == 1){
                        
                        $('head').find('link#load').remove();
                        document.getElementById("main_app").style.display = "block";
                        document.getElementById("preloader").style.display = "none";
                    }
                    
                })
                
                

                function descFunc(val){
                    coffee = val.id
                    coffee_name = coffee.split("_")[0]
                    desc_text = document.getElementById(coffee+"_").value
                    var src = $(val).find('img').attr('src');
                    const el = document.createElement('div')
                    el.classList.add("g-modal")
                    el.innerHTML = "<h5 class='font-secondary-color text-center'>"+coffee_name+"</h5>\
                        <img src='"+src+"' style='width:150px'><br><h5 class='my-4 text-white text-center des-text'>"+desc_text
                    
                    swal({
                        content: el
                    })
                    
                    
                }
                function changeVal(value){
                    val = document.getElementById(value).value
                    val = val >0 ? parseInt(val) : 0                    
                    if (val>20){
                        document.getElementById(value).value = 20
                        // document.getElementById(value +"_btn").style.visibility = "hidden";

                    }
                    if (val <= 0 ){
                        document.getElementById(value).value = 0
                        document.getElementById(value +"_btn_m").style.visibility = "hidden";
                    }
                    if(val>0 & val<=20){
                        document.getElementById(value +"_btn_m").style.visibility = "visible";
                    }
                }

                $('input').on('input propertychange paste', function (e) {
                    var val = $(this).val()
                    var reg = /^0/gi;
                    if (val.match(reg)) {
                        $(this).val(val.replace(reg, ''));
                    }
                });
                function submitFunc(){
                    hidden_value = document.getElementById("all_input").value
                    hidden_value = hidden_value.split(",")
                    
                    text = '';
                    alert_text = '';
                    total_val = 0;
                    for (let i = 0; i < hidden_value.length; i++) {
                        coffee_val = document.getElementById(hidden_value[i]).value
                        total_val += parseInt(coffee_val);
                        if (coffee_val > 0){
                            text += coffee_val + "x" + hidden_value[i] + ",";
                        }
                        if (coffee_val > 0){
                            alert_text += coffee_val + "x " + hidden_value[i] + "\n";
                        }
                    }
                    // document.getElementById("all_input").value = text + String(total_val) + "xTotal Order"
                    if(total_val > 0){
                        a = swal({
                        title: "Are you already checked the order twice?",
                        text: "Once ordered, you can not change it anymore!\n" + alert_text,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        })
                        .then((willDelete) => {
                            
                            if (willDelete) {
                                document.getElementById("all_input").value = text + String(total_val)
                                swal("Your coffee order has been listed!", {
                                icon: "success",
                                });
                                var timesRun = 0;
                                var interval = setInterval(function(){
                                    timesRun += 1;
                                    if(timesRun === 1){
                                        clearInterval(interval);
                                    }
                                    document.getElementById('theForm').submit();
                                }, 1200); 
                            }
                        });
                    }else{
                        a = swal({
                        title: "You have no order! Please add your coffee first.",
                        text: "Once ordered, you can not change it anymore!",
                        icon: "warning",
                        dangerMode: true,
                        });
                    }
                }
                function addCounter(btn_id) {
                    console.log(btn_id)
                    id = btn_id.split("_")[0]
                    val = document.getElementById(id).value
                    counter_val = val > 0 ? parseInt(val) : 0
                    if (counter_val + 1 > 0){
                        document.getElementById(btn_id+"_m").style.visibility = "visible"
                    }
                    document.getElementById(id).value = counter_val + 1
                }

                function minusCounter(btn_id) {
                    id = btn_id.split("_")[0]
                    
                    counter_val = parseInt(document.getElementById(id).value)
                    if (counter_val - 1 == 0){
                        document.getElementById(id).value = counter_val - 1
                        document.getElementById(btn_id).style.visibility = "hidden";
                    }
                    else{
                        document.getElementById(id).value = counter_val - 1
                        document.getElementById(btn_id).style.visibility = "visible";
                    }
                }
                
            </script>

        {% endblock %}

{%endblock%}

</html>