<!DOCTYPE html>


{% block content %}

<!-- Laman utk VIEW template, refer ke flask modul utk halaman html -->

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Coffee is Love, Coffee is Live</title>
    </head>


    <body>
        <b><h1>Hi table {{ name }}</h1></b>
        <b><h2>Please Choose you coffee</h2></b>
        <!-- <img src= "{{ img_url }}" alt="Latte" height="700" width="1500"> -->
        <table>
            
            <!-- To add another menu -->
            <tr>
                <td><h1>1. Latte</h1></td>
            </tr>
            <tr>
                <td><img src= "{{ img_url2 }}" alt="Latte" height="130" width="250"></td>
                <td>
                    <button type="button" id="qty_btn_m" onclick="minusCounter(this.id)" disabled="disabled" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                        <span name="minus">&#8722;</span>
                    </button>
                    <input type="number" class="count" id="qty" value="0" style="width: 2em">
                    <button type="button" id="qty_btn" class="btn btn-default btn-number" onclick="addCounter(this.id)"  data-type="minus" data-field="quant[1]">
                        <span name="plus">&#43;</span>
                    </button>
                </td>
            </tr>
            <!-- To add another menu -->

            <!-- To add another menu -->
            <tr>
                <td><h1>2. Mocca</h1></td>
            </tr>
            <tr>
                <td><img src= "{{ img_url3 }}" alt="Mocca" height="200" width="250"></td>
                <td>
                    <button type="button" class="btn btn-default btn-number" id="qty2_btn_m" onclick="minusCounter(this.id)" disabled="disabled" data-type="minus" data-field="quant[1]">
                        <span name="minus">&#8722;</span>
                    </button>
                    <input type="number" class="count" id="qty2" value="0" style="width: 2em">
                    <button type="button" class="btn btn-default btn-number" id="qty2_btn" onclick="addCounter(this.id)"
                            data-type="minus" data-field="quant[1]">
                        <span name="plus">&#43;</span>
                    </button>
                </td>
            </tr>
            <!-- To add another menu -->
            
            

        </table>

        {% block javascript %}
            <script>

                function addCounter(btn_id) {
                    id = btn_id.split("_")[0]
                    counter_val = parseInt(document.getElementById(id).value)
                    if (counter_val + 1 > 0){
                        document.getElementById(btn_id+"_m").disabled = false
                    }
                    document.getElementById(id).value = counter_val + 1
                }

                function minusCounter(btn_id) {
                    id = btn_id.split("_")[0]
                    counter_val = parseInt(document.getElementById(id).value)
                    if (counter_val - 1 == 0){
                        document.getElementById(id).value = counter_val - 1
                        document.getElementById(btn_id).disabled = true;
                    }
                    else{
                        document.getElementById(id).value = counter_val - 1
                        document.getElementById(btn_id).disabled = false;
                    }
                }
                
            </script>

        {% endblock %}
    </body>
    

</html>

{% endblock %}