<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gethsemane Cafe | Coffee Ordering</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script type="text/javascript" src="sweetalert.min.js"></script>

</head>


<body>
    <div id="wow">
        gggooo
    </div>
</body>

    <script>
        const el = document.createElement('div')
        el.innerHTML = "<h5 class='font-secondary-color text-center'>Latte</h5>\
                        <img src='what image here' style='width:100px'><br><h5 class='font-secondary-color text-center'>Verry Good Milk"
        
        swal({
        content: el
        })
    </script>

</html>